body {
  margin: 0;
  padding: 0;
  background: #000;
}

section{
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: change 3s ease-in-out infinite;
}

table{
  height: 1000%;
}

.jumbotron-fluid{
  background: transparent;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
