body {
  margin: 0;
  padding: 0;
  background: #000;
}

html{
  font-family: "Comic Sans MS";
}

section{
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: change 3s ease-in-out infinite;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
.jumbotron-fluid{
  background: transparent;
}
.footer {
  color: white;
  font-family: "Comic Sans MS";
  text-align: center;
  font-size: 130px;
  margin-bottom: 1000px;
  animation: rotateY 5s infinite linear;
  background: url("../img/0_0.png") bottom center no-repeat;
  height: 950px;
}
@keyframes rotateY {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

div {
  cursor:crosshair
}
