<section>
<table class="table table-light">
  <thead>
  <td>Id</td>
  <td>Name</td>
  <td>Price</td>
  <td>Developer</td>
  <td>Publisher</td>
  <td>Rating</td>
  <td>Age restriction</td>
  </thead>
  <tr>
    <td>{{game.id}}</td>
    <td>{{game.name}}</td>
    <td>{{game.price}}</td>
    <td>{{game.developer}}</td>
    <td>{{game.publisher}}</td>
    <td>{{game.rating}}</td>
    <td>{{game.ageRestriction}}</td>
  </tr>
</table>
  <div *ngIf="game" class="game">
    <form>
      <input [(ngModel)]="game.name" placeholder="name" name="name">
      <input [(ngModel)]="game.price" placeholder="price" name="price">
      <input [(ngModel)]="game.developer" placeholder="studio" name="developer">
      <input [(ngModel)]="game.publisher" placeholder="name" name="publisher">
      <input [(ngModel)]="game.rating" placeholder="price" name="rating">
      <input [(ngModel)]="game.ageRestriction" placeholder="studio" name="ageRestriction">
      <button (click)="edit()">EDIT.</button>
    </form>
  </div>
  <div class="footer"></div>
</section>
